html {
  width: 100vw;
}
* {
    box-sizing: border-box
} 
body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);

}


.items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tg-theme-border-color);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}

.item-info {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item-emoji {
  font-size: 50px;
}

.item-button {
  display: block;
  width: 100%;
  font-size: 18px;
  background-color: orange;
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 5px;
}
