html {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box
} 
body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);

}


.items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tg-theme-border-color);
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}

.item-info {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.item-emoji {
  font-size: 64px;
}

.item-button {
  display: block;
  width:100%;
  max-width: 160px;
  font-size: 24px;
  background-color: orange;
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 10px;
}
